.control-panel {
  background-color: var(--light-grey);
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 4px solid lightgrey;
}

.control-panel__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
