.study-session {
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
}

.study-session__top {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 10px;
}

.study-session__title {
  min-width: 260px;
  font-size: 20px;
  font-weight: bold;
}

.study-session__submit-btn {
  position: absolute;
  color: #fff;
  font-weight: bolder;
  font-size: 16px;
  padding: 5px 10px;
  right: 20px;
  background-color: var(--dark-theme-color);
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #000;
}

.study-session__time-intervals-list {
  margin: 0;
  list-style: decimal;
  counter-reset: item;
}

.study-session__time-interval {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  gap: 20px;
  position: relative;
  border-bottom: 3px solid lightgrey;
  border-radius: 1px;
  padding-bottom: 10px;
}

.study-session__time-interval::before {
  content: counter(item) " "; /* Displays numbers (use '•' for bullets) */
  counter-increment: item; /* Automatically increments */
  position: absolute;
  left: -20px;
}
